@model Product
@{
    ViewData["Title"] = "Sửa sản phẩm";
}

<h2>Chỉnh Sửa Sản Phẩm</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="Product-form" asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label class="control-label">Tên sản phẩm</label>
                <input asp-for="Name" class="form-control" />
            </div>


            <div class="form-group mb-3">
                <label class="control-label">Giá</label>
                <input asp-for="Price" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Lưu sản phẩm</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $("#Product-form").submit(function (e) {
                e.preventDefault();
                if(Validation()){
                    this.submit();
           }
        }
           function Validation(){
            let isValid = true;
               var tensp = $("#Name").val().trim();
            var price = $("#Price").val().trim();
            $("#Name").removeClass("is-invalid");
            $("#Price").removeClass("is-invalid");
            $(".invalid-feedback").remove();
            if (tensp === "") {
                $("#Name")
                    .addClass("is-invalid")
                    .after('<div class="invalid-feedback">Tên sản phẩm không được để trống</div>');
                isValid = false;
            }
            if (price === "") {
                $("#Price")
                    .addClass("is-invalid")
                    .after('<div class="invalid-feedback">Giá không được để trống</div>');
                isValid = false;
            } else if (isNaN(price) || Number(price) <= 0) {
                $("#Price")
                    .addClass("is-invalid")
                    .after('<div class="invalid-feedback">Giá phải là số và lơn hơn 0</div>');
                isValid = false;
            }

            return isValid;
        });

    </script>
}